@import url('https://fonts.googleapis.com/css2?family=Lato&family=Macondo&display=swap');

*{
    font-family: 'Lato', sans-serif;
}

.subtitulos{
    font-size: 20px;
  }

h1{
    color: #13AAB6;
    font-size: x-large;
    font-weight: bold;
}
